body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-tag-links{
  text-decoration: none;
}


/* -------------------------Navbar - Start ------------------------- */
.navbar-container
{
  height: 10vh;
  background: #FFFFFFFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar-image {
  position: relative;
  left: 50px;
  width: 133px;
  height: 10vh;
  border-radius: 0px;
}


.navbar-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-family: Inter;
  font-size: 18px;
  opacity: 1;
}

.navbar-menu .navbar-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #565E6CFF;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.navbar-menu .navbar-menu-item#selected {
  position: relative;
  font-weight: bold;
  color: #139CFFFF;
  background: transparent;
  text-decoration: underline;
  text-decoration-color: #139CFFFF;
  text-underline-offset: 15px;
  text-decoration-thickness: 4px;
}

.navbar-menu .navbar-menu-item#selected:hover:active {
  color: #139CFFFF;
  background: transparent;
}




.navbar-avatar text {
  font-family: Inter;
  font-size: 18px;
  color: #171A1FFF;
}



.evaluate {
  /* height: 44px; */
  position: relative;
  right: 28px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  color: #FFFFFFFF;
  background: #139CFFFF;
  opacity: 1;
  border: none;
  border-radius: 7px;
  gap: 6px;
}
.evaluate .icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFFFF;
}


.evaluate:hover {
  color: #FFFFFFFF;
  background: #007FDAFF;
}


.evaluate:hover:active {
  color: #FFFFFFFF;
  background: #006FBEFF;
}


.evaluate:disabled {
  opacity: 0.4;
}
/* -------------------------Navbar - End ------------------------- */



/* -------------------------Home - Start ------------------------- */
.home-container {
  position: absolute;
  top: 86px;
  left: 0px;
  width: 100vw;
  height: 88vh;
  background: #F8F9FAFF;
  border-radius: 0px;
}

.home-heading {
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 30vw;
  font-family: Poppins;
  font-size: 40px;
  line-height: 68px;
  color: #171A1FFF;
}
.color-blue{
  color: #139CFFFF;
  font-weight: bold;
}


.home-image-container {
  position: absolute;
  top: 20vh;
  left: 60vw;
  width: 30vw;
  height: 58vh;
  background: #FFC414FF;
  border-radius: 12px;
  box-shadow: 0px 0px 1.5px #171a1f, 0px 0px 2px #171a1f;
}

.home-description {
  position: absolute;
  top: 43vh;
  left: 20vw;
  width: 30vw;
  font-family: Inter;
  font-size: 24px;
  line-height: 36px;
  color: #424955FF;
}

.home-helpful-buttons{
  position: absolute;
  top: 68vh;
  left: 20vw;
  width: 30vw;
  font-family: Inter;
  display: flex;
  align-items: center;
}


.blue-white-button {
  height: 5vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFFFF;
  background: #139CFFFF;
  opacity: 1;
  border: none;
  border-radius: 8px;
}

.blue-white-button:hover {
  color: #FFFFFFFF;
  background: #007FDAFF;
}

.blue-white-button:hover:active {
  color: #FFFFFFFF;
  background: #006FBEFF;
}



.white-blue-button {
  position: relative;
  height: 5vh;
  left:2vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  color: #139CFFFF;
  background: #D4EDFFFF;
  opacity: 1;
  border: none;
  border-radius: 12px;
}

.white-blue-button:hover {
  color: #139CFFFF;
  background: #B9E2FFFF;
}

.white-blue-button:hover:active {
  color: #139CFFFF;
  background: #9DD6FFFF;
}
/* -------------------------Home - End ------------------------- */



/* -------------------------Evaluate - Start ------------------------- */

.evaluate-page-container{
  background: #F8F9FAFF;
}

.evaluate-page-header{
  font-family: Poppins;
  font-size: 48px;
  line-height: 68px;
  color: #139CFFFF;
  background: #F8F9FAFF;
  text-align: center;
}

.evaluate-page-header-text{
  font-family: Inter;
  font-size: 2.2rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  padding-top: 2.5vh;
}

.evaluate-input-area{
  margin-top: 3.5vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.evaluate-input-area input{
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  /* border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; */
  border-color: #9095A0FF;
  border: none;
  outline: none;
}

.evaluate-input-area button{

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  color: #FFFFFFFF;
  background: #139CFFFF;
  opacity: 1;
  gap: 6px;
  border-radius: 0px 0.5rem 0.5rem 0px;
  border: none;
  width: 4vw;  
  cursor: pointer;
}

.evaluate-category{
  border-radius: 0.5rem 0 0 0.5rem;
}

.evaluate-category select{
  height: 100%;
  outline: none;
  border: none;
  text-align: center;
  width: 10vw;
  border-radius: 0.5rem 0 0 0.5rem;
  background: #139CFFFF;
  color: #fff;
  line-height: 1;
}


.evaluate-result{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 100vw;
  gap:25vw;
  align-items: center;
}

.line-chart-skeleton{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap:2vw;
  margin-bottom: 11vh;
}
.pie-chart-skeleton{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap:2vw;
  margin-bottom: 11vh;
}
/* -------------------------Evaluate - End ------------------------- */

/* #header-container {
  display: block;
  position: absolute;
  width: 320px;
  height: 55px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -87px;
}

/* Select style here */

/* select {
  margin: 0 auto;
  color: #EC6F66;
  width: 310px;
  padding: 15px;
  height: 25px;
  cursor: pointer;
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
}

select:hover {
  background-color: transparent;
  color: white;
  padding: 15px 5px 15px 25px;
}

select option {
  background-color: white;
  color: gray;
  width: 310px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
}

select option:hover {
  padding-left: 25px;
  width: 270px;
  color: #EC6F66;
} */


.single-post-evaluate-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-post-evaluate-div p{
  text-align: center;
  margin: auto;
  height: 30vh;
}

.bold-text{
  font-weight: bold;
}